{% extends "layout.html" %}
{% block content %}
<body data-spy="scroll" data-target="#myScrollspy" data-offset="80" style="background-image:-webkit-linear-gradient(45deg,#0278ae 50%,rgb(255, 255, 255) 50%)">
    <section>
        <div class="card" id="card" >
          <div class="card-body">
            <h1 class="card-title" style="font-size: 5rem;font-weight:bold;">Who are you?</h1>
            <h3 class="card-text" style="padding: 2rem; font-size: 2rem">Select one of the options</h3>
            <a href="{{url_for('adminlogin')}}" class="btn btn-dark btn-lg cardbtn" style="font-size: 1.5rem;font-weight:bold;">Admin</a>
            <a href="{{url_for('studentlogin')}}" class="btn btn-dark btn-lg cardbtn" style="font-size: 1.5rem;font-weight:bold;">Student</a>
            
          </div>
        </div>
      </section>

           
        </div>
    </div>
</body>
{% endblock content %}