{% extends 'layout.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<html>
<head>
	
	 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
		MESS
	</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style-mess.css">



</head>

<body style="background-color:black;">

    
        
   
    <div class="mess-rectangle" id="mess-text"><span>MESS</span></div>

    <p class="meal-messid-date-rectangle" id="meal-messid-date-text">MEAL</p>
    <p class="meal-messid-date-rectangle" id="meal-messid-date-text">MESS ID</p>
    <p class="meal-messid-date-rectangle" id="meal-messid-date-text">DATE</p>


    <p class="menu-specialrequest-rating-rectangle" id="menu-specialrequest-rating-text">MENU</p>
    <p class="menu-specialrequest-rating-rectangle" id="menu-specialrequest-rating-text">SPECIAL REQUEST</p>
    <p class="menu-specialrequest-rating-rectangle" id="menu-specialrequest-rating-text"><a style="text-decoration:none; color:black;" href="index-rating.html">RATING OF MENU ITEMS</a></p>

   

  
</body>
{% endblock content %}
</html>
