{% extends 'layout.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<html>
<head>
	
	 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
		RATING OF MENU ITEMS
	</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style-rating.css">



</head>

<body style="background-color:black;">



    <p class="rating-of-menu-rectangle" id="rating-of-menu-text">RATING OF MENU ITEMS</p>
    <p class="menu-items-rectangle" id="menu-items-text"><a style="text-decoration:none; color:black;" href="index-rating.html">LIST OF MENU ITEMS</a></p>

  
</body>
{% endblock content %}
</html>
