{% extends "layout.html" %}
{% block content %}
<body>
    <div class="card-header" style="display:flex;justify-content: space-between;">
        <h2>Mess ID: MID01</h2>
        <h2>Total Calories: 110</h2>
    </div>
    <div class="card-body" style="width:50%;margin: auto;">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Item ID</th>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Calories</th>  
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>IT01</td>
            <td>Pizza</td>
            <td>10</td>
            <td>10</td>
          </tr>
          <tr>
            <td>IT02</td>
            <td>Burger</td>
            <td>15</td>
            <td>10</td>
          </tr>
          <tr>
            <td>IT03</td>
            <td>Pasta</td>
            <td>35</td>
            <td>10</td>
          </tr>
          <tr>
            <td>IT04</td>
            <td>Shawarma</td>
            <td>5</td>
            <td>10</td>
          </tr>
        </tbody>
      </table>
    </div>
</body>
{% endblock content %}
