{% extends "layout.html" %}
{% block content %}
<body  data-spy="scroll" data-target="#myScrollspy" data-offset="80">
  <section id="section-1">

    <!-- Navbar-->
    <nav class="navbar navbar-expand-xl fixed-top" style="height:100px" id="myScrollspy">

      <!-- name -->
      <a class="navbar-brand" href="#section-1">
        <img class="fluid" src="../static/assets/img/logo-navbar.png" style="height: 5rem;">
      </a>

      <!-- toggler -->
      <button class="xyz navbar-toggler custom-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent " aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <!-- List Items -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <h2>STUDENT RESPONSE</h2>
        <ul class="navbar-nav ml-auto nav-pills">
          <li class="nav-item mx-auto" data-toggle="collapse" data-target=".navbar-collapse">
            <a class="xyz nav-link mx-4 mt-2 active" href="{{url_for('home')}}">Home</a>
          </li>
        </ul>
    </nav>

  </section>


  <section id="section-3">
    <div class="container">
        <h1 class="heading">THANK YOU FOR YOUR RESPONSE!</h1>
        <a href="{{url_for('home')}}" class="xyz btn1 heading-3">Go back to Home!</a>
        <br>
        <div class="thumbs-up2"></div>
        <h3 style="margin-left:10%">OR</h3>
        <a href="{{url_for('specialrequest')}}" class="xyz btn1 heading-3">Want to check upcoming festivals?</a>
        

    </div>
</section>



  </body>
  {% endblock content %}