{% extends "layout.html" %}
{% block content %}
<body  data-spy="scroll" data-target="#myScrollspy" data-offset="80">
  <section id="section-1">

    <!-- Navbar-->
    <nav class="navbar navbar-expand-xl fixed-top" style="height:100px" id="myScrollspy">

      <!-- name -->
      <a class="navbar-brand" href="#section-1">
        <img class="fluid" src="../static/assets/img/logo-navbar.png" style="height: 5rem;">
      </a>

      <!-- toggler -->
      <button class="xyz navbar-toggler custom-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent " aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <!-- List Items -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <h1>Student Response</h1>
      <ul class="navbar-nav ml-auto nav-pills"></ul>
      <li class="nav-item mx-auto" data-toggle="collapse" data-target=".navbar-collapse">
        <a class="xyz nav-link mx-4 mt-2" href="{{url_for('choose')}}">Home</a>
      </li>
      </div>

    </nav>

  </section>


<section id="section-3">
    <div class="container">
        <h1 class="heading">THANK YOU FOR YOUR RESPONSE!</h1>
        <a href="{{url_for('home')}}" class="xyz btn1">Go back to Home!</a>
     

    </div>
</section>



  </body>
  {% endblock content %}